h1 {
    font-family: 'Chelsea Market';
    font-size: 22px;
}

font-mono

body {
    font-family: 'Covered By Your Grace';font-size: 22px;
}

.photo-central{
    Photo by <a href="https://unsplash.com/pt-br/@farreal?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Dan Farrell</a> on <a href="https://unsplash.com/wallpapers/art?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    <img 
}